<div class="container item-page">

  <h1><%= @item.title %></h1>

  <!-- Custom helper to format categories -->
  <p><strong>Categories:</strong>
    <%= format_categories @item.categories %>
  </p>

  <!-- Replaced this with custom helper -->
  <%# @item.categories.order("title asc").each do |c| #%>
    <!-- <span><%# link_to c.title, category_path(c), class: "link" #%></span> -->
  <%# end %>

  <%= image_tag @item.image.url %>

  <p>
    <%= simple_format @item.description %>
  </p>

  <p>
    <%= link_to "Download photo", @item.image.url, download: true, target: "blank", class: "link" %>
  </p>

</div>
