<!DOCTYPE html>
<html>
  <head>
    <title>Source</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if flash[:success].present? %>
      <div class="success">
        <%= flash[:success] %>
      </div>
    <% end %>

    <header>
      <h1>
        <%= link_to "Source", root_path, class: "home" %>
      </h1>

      <nav>
        <% if is_logged_in? %>
          <p class="nav-el white">
            Hi, <%= link_to @current_user.username, users_path, class: "nav-link" %>
          </p>
          <%= link_to "Gallery", items_path, class: "nav-link nav-el active" %>
          <%= link_to "Categories", categories_path, class: "nav-link nav-el" %>
          <%= link_to "Log out", session_path, class: "button nav-el", method: :delete %>
        <% else %>
          <div class="sign-up">
            <%= link_to "Sign up", new_user_path, class: "button nav-el active" %>
            <%= link_to "Log in", new_session_path, class: "button nav-el" %>
          </div>
        <% end %>
      </nav>
    </header>

    <%= yield %>
  </body>
</html>
